# only exclude core admin files
# themes should be in git
admin/

config/
core/
docs/
scripts/
migrations/
seeds/
static/

# only exclude core plugins
# user should be able to version plugins
plugins/

Makefile

logs/
